
@media (max-width: 768px) {

.container-redes{
    display: flex;
    margin-top: 50px;
}

.light{
    width: 30px;
    height: 30px;
    background-color: white;
    display: flex;
    position: absolute;
    top: 3%;
    left: 90%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.red {
    width: 20%;
    display: flex;
    position: relative;
    top: -50px;
}


.contenedorTextos h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -90px;
    font-size: 99%;
}

.contenedorTextos .warning{
    color: red;
    margin: -78px 0 0 0;
    text-align: center;
}

.contenedorTextos .aviso {
    display: flex;
    margin: -90px 0 0 -65px;
    width: 25px;
}

/* Trabajando con textarea */
.contenedorTextos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 75%;

    overflow: auto; /* Opcionalmente, puedes elegir otro valor de overflow según tus necesidades */
    word-wrap: break-word;
}

.contenedorTextos .pantalla-text{
    display: flex;
    flex-direction: column;
    width: 70%;
    font-weight: 200;
    font-size: 20px;
    text-align: start;
}

/* Trabajando con Botones */

.btn {
    display: flex;
    margin: 20px 0 0px 0 150px;
    width: 100%;
    
    
}

.botones {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 15px;
    margin: 0 6px 0 6px ;
}

footer{
    color: white;
    display: flex;
    position: absolute;
    top: 80%;
    left: 35%;
}

}
