body{
    margin: 0;
    padding: 0;
    background-color: rgb(128, 128, 128);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poltawski Nowy', serif;
    font-family: 'Roboto', sans-serif;
}

.contenedorTextos .light{
    width: 30px;
    height: 30px;
    background-color: white;
    display: flex;
    position: absolute;
    top: 3%;
    left: 90%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* css para redes */
.container-redes {
    display: flex;
    margin: 0;
    position: absolute;
    left: 62%;
    top: 3%;
    
    
}


.red{
    width: 70px;
    margin: 15px;
    text-align: left;
}

/* css para textareas */
.contenedorTextos{
    width: 1000px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 3px solid aqua;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.contenedorTextos .pantalla-text{
    display: flex;
    width: 30%;
    height: 30%;
    font-size: 22px;
    font-weight: 540;
    display: flex;
    flex-shrink: 1;
    padding: 5px;
    margin: 10px;
    border: 3px solid greenyellow;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    text-align: center;
    resize: none;
}

.contenedorTextos h1 {
    color: #fff;
    font-weight: 100;
    margin-top: -5%;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* css para avisos */
.contenedorTextos .warning{
    color: red;
    font-weight: 100;
    position: absolute;
    left: 50%;
    top: 22.7%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin: 5px 15px  ;
    
}

.contenedorTextos .aviso{
    width: 30px;
    position: absolute;
    left: 34%;
    top: 21.5%;
}


.contenedorTextos {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    
}

/* textarea {
    display: flex;
    flex-shrink: 1;
    width: 400px;
    height: 500px;
    padding: 5px;
    margin: 10px;
    border: 3px solid greenyellow;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    text-align: center;
    
} */

.btn {
    display: flex;
    margin-top: 60px;
    padding: 5px;
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.botones{
    width: 200px;
    height: 50px;
    margin-right: 50px;
    border: solid 3px rgb(199, 78, 78);
    background-color: rgb(35, 80, 80);
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
    font-weight: bold;
    font-size: 18px;
    animation: colores 2s linear infinite alternate-reverse;
    -webkit-animation: colores 2s linear infinite alternate-reverse;
}


/*keyframe Para animaciones*/
@keyframes colores {
    0%{
        transform: scale(6),translateY(10rem);
        -webkit-transform: scale(6),translateY(10rem);
        -moz-transform: scale(6),translateY(10rem);
        -ms-transform: scale(6),translateY(10rem);
        -o-transform: scale(6),translateY(10rem);
}

50% {
    background-color: aqua;

}

75% {
    background-color: green;
}

100% {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}
}

footer {
    color: #fff;
    display: flex;
    justify-content: center;
    position: relative;
    top: 900px;
}